<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title th:text="${title}">Add Product</title>

    <!-- import CSS -->
    <link href="/webjars/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>

<body>
    <!-- start navbar -->
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="#">Navbar</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="#">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="#">Link</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Dropdown
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="#">Action</a></li>
                            <li><a class="dropdown-item" href="#">Another action</a></li>
                            <li>
                                <hr class="dropdown-divider">
                            </li>
                            <li><a class="dropdown-item" href="#">Something else here</a></li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled">Disabled</a>
                    </li>
                </ul>
                <form class="d-flex">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                </form>
            </div>
        </div>
    </nav>
    <!-- end navbar -->

    <!-- start content -->
    <div class="container">
        <br><br>
        <h1 class="display-4 text-center">Add Product</h1>
        <hr>
        <!-- add product form -->
        <form th:object="${product}" method="post" th:action="@{/simple-spring-mvc/views/products/add}">

            <!-- replace name with th:field -->
            <!-- code -->
            <div class="form-group">
                <label for="code" class="form-label">Code</label>
                <input type="text" id="code" th:field="*{code}" placeholder="Code" class="form-control" required>
            </div>

            <!-- name -->
            <div class="form-group">
                <label for="name" class="form-label">Name</label>
                <input type="text" id="name" th:field="*{name}" placeholder="Name" class="form-control" required>
            </div>

            <!-- price -->
            <div class="form-group">
                <label for="price" class="form-label">Price</label>
                <input type="number" id="price" th:field="*{price}" placeholder="Price" class="form-control" required>
            </div>

            <!-- description -->
            <div class="form-group">
                <label for="description" class="form-label">Description</label>
                <textarea type="text" class="form-control" rows="5" th:field="*{description}" id="description" placeholder="Description" required></textarea>
            </div>

            <!-- buttons -->
            <p class="form-group">
                <button class="btn btn-primary me-3" type="submit">Add Product</button>
                <a th:href="@{/simple-spring-mvc/views/products}">
                    <button class="btn btn-danger" type="button">Back</button>
                </a>
            </p>
        </form>
    </div>
    <!-- end content -->

    <script src="/webjars/bootstrap/js/bootstrap.bundle.js "></script>
</body>

</html>